.vscode/

# GPT-2 downloaded weights
gpt2/

# Model checkpoints
*.pth
*.ckpt
*.meta
*.index
# Python cache
__pycache__/
*.pyc

# =========================
# Datasets
# =========================
sms_spam_collection/
*.zip
*.csv
*.tsv

# json data
instruction-data.json
instruction-data-with-response.json
chat_sft_dataset.json